.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
}
.btn {
  width: 30%;
}
.time__container {
  display: flex;
  align-items: center;
  margin: 10px auto;
  height: 100px;
  width: 90%;
  background-color: white;
  color: rgb(82, 80, 80);
  border: 1px solid darkgrey;
  border-bottom: 2px solid darkgrey;
}
